
body { font-family: Arial, sans-serif; padding: 20px; }
.container { display: flex; justify-content: space-around; margin-top: 20px; }
table { width: 48%; border-collapse: collapse; margin-top: 20px; }
th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
th { background-color: #f4f4f4; }

/* 제목과 버튼을 수평으로 배치 */
.header-container {
    display: flex;
    align-items: center;
}

h1 {
    margin-right: 10px; /* 제목과 버튼 사이 간격을 줄임 */
}

.button-container {
    display: inline-block;
}

.btn {
    padding: 8px 16px;
    margin: 0 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #45a049;
}

/* 모든 테이블 숨기기 */
table {
    display: none;
}

thead > tr:nth-child(2) > th {
    text-align: center;
}
tr > th {
    min-width: 45px;
}
tr > td {
    height: 55px;
}
tr > td:nth-child(7) {
    width: 40px;
}
tbody > tr > td:nth-child(4), tbody > tr > td:nth-child(6), tbody > tr > td:nth-child(7) {
    text-align: center;
}
