<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book_title }} 재고 정보</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style2.css')}}">
</head>
<body>
    <h1>{{ book_title }}의 재고 정보</h1>
    
    <div class="container">
        <table border="1">
            <thead>
                <tr>
                    <th>매장</th>
                    <th>재고</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in young_stocks[book_title] %}
                <tr>
                    <td>{{ stock[0] }}</td>
                    <td>{{ stock[1] }}</td>
                    <!-- <td>{{ stock.loc_stock }}</td> -->
                    <!-- <td>{{ stock[1] }}</td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button onclick="window.close()">닫기</button>  <!-- 팝업 창 닫기 -->
</body>
</html>
