<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>베스트셀러 비교</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <!-- 제목과 버튼을 담은 컨테이너 -->
    <div class="header-container">
        <h1>베스트셀러 비교</h1>
        <div class="button-container">
            <button class="btn" onclick="showOnline()">온라인</button>
            <button class="btn" onclick="showOffline()">오프라인</button>
        </div>
    </div>

    <div class="container">
        <!-- 예스24 테이블 -->
        <table id="yes24-table">
            <thead>
                <tr>
                    <th colspan="6">예스24 베스트셀러</th>
                </tr>
                <tr>
                    <th>순위</th>
                    <th>제목</th>
                    <th>저자</th>
                    <th>가격</th>
                    <th>출판사</th>
                    <th>평점</th>
                </tr>
            </thead>
            <tbody>
                {% for book in yes24_books %}
                <tr>
                    {% for idx in range(6) %}
                    <td>{{ book[idx+1] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- 알라딘 테이블 -->
        <table id="aladin-table">
            <thead>
                <tr>
                    <th colspan="6">알라딘 베스트셀러</th>
                </tr>
                <tr>
                    <th>순위</th>
                    <th>제목</th>
                    <th>저자</th>
                    <th>가격</th>
                    <th>출판사</th>
                    <th>평점</th>
                </tr>
            </thead>
            <tbody>
                {% for book in aladin_books %}
                <tr>
                    {% for idx in range(6) %}
                    <td>{{ book[idx+1] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- 교보문고 테이블 -->
        <table id="kyobo-table">
            <thead>
                <tr>
                    <th colspan="7">교보문고 베스트셀러</th>
                </tr>
                <tr>
                    <th>순위</th>
                    <th>제목</th>
                    <th>저자</th>
                    <th>가격</th>
                    <th>출판사</th>
                    <th>평점</th>
                    <th>재고 확인</th>
                </tr>
            </thead>
            <tbody>
                {% for book in kyobo_books %}
                <tr>
                    {% for idx in range(6) %}
                    <td>{{ book[idx+1] }}</td>
                    {% endfor %}
                    <td><button onclick="openSmallWindowKyobo('{{ book[2] }}', '{{ book[1] }}')">재고 확인</button></td>  <!-- 재고 확인 버튼 추가 -->
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- 영풍문고 테이블 -->
        <table id="young-table">
            <thead>
                <tr>
                    <th colspan="7">영풍문고 베스트셀러</th>
                </tr>
                <tr>
                    <th>순위</th>
                    <th>제목</th>
                    <th>저자</th>
                    <th>가격</th>
                    <th>출판사</th>
                    <th>평점 (5.0)</th>
                    <th>재고 확인</th>
                </tr>
            </thead>
            <tbody>
                {% for book in young_books %}
                <tr>
                    {% for idx in range(6) %}
                    <td>{{ book[idx+1] }}</td>
                    {% endfor %}
                    <td><button onclick="openSmallWindowYoung('{{ book[2] }}', '{{ book[1] }}')">재고 확인</button></td>  <!-- 재고 확인 버튼 추가 -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function showOnline() {
            document.getElementById('yes24-table').style.display = 'block';
            document.getElementById('aladin-table').style.display = 'block';
            document.getElementById('kyobo-table').style.display = 'none';
            document.getElementById('young-table').style.display = 'none';
        }

        function showOffline() {
            document.getElementById('yes24-table').style.display = 'none';
            document.getElementById('aladin-table').style.display = 'none';
            document.getElementById('kyobo-table').style.display = 'block';
            document.getElementById('young-table').style.display = 'block';
        }
        
        // 재고 확인
        function openSmallWindowYoung(bookTitle, index) {
            // 책 제목에 맞는 URL을 동적으로 생성하여 팝업을 엽니다.
            const url = "/young_check/" + bookTitle + "?idx=" + index;
            const windowOptions = "width=600, height=400, scrollbars=yes, resizable=yes";
            window.open(url, "Stock Popup", windowOptions);
        }

        function openSmallWindowKyobo(bookTitle, index) {
            // 책 제목에 맞는 URL을 동적으로 생성하여 팝업을 엽니다.
            const url = "/kyobo_check/" + bookTitle + "?idx=" + index;
            const windowOptions = "width=600, height=400, scrollbars=yes, resizable=yes";
            window.open(url, "Stock Popup", windowOptions);
        }
    </script>
</body>
</html>
